* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Ubuntu, sans-serif;
  color: #111;
}
.single-task {
  background-color: #ddf;
  min-height: 75px;
  padding: 5px;
  display: grid;
  position: relative;
  margin-bottom: 10px;
  word-wrap: break-word;
}
.task-control-panel {
  width: 100%;
  min-height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  bottom: 0;
}
.color-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.inner-textarea {
  resize: none;
  position: absolute;
  background-color: #ddd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
  top: 0;
  left: 0;
  padding: 5px;
}
